html {
    height: 100%;
}

body {
    background: #eee;
    height: 100%;
    margin: 0;
}

.task {
    margin: 16px;
    border: 1px dashed #AAA;
    padding: 20px;
    border-radius: 4px;
    background: #eee;
    box-shadow: none;
    color: #555;
    font-family: "Monospace";
    transition: background 0.5s, border 0.5s, box-shadow 0.5s, color 0.5s;
}

.task:hover, .task:focus {
    border: 1px solid #fff;
    background: #fff;
    box-shadow: 0 0 1em gray;
    color: #000;
    transition: background 0.5s, border 0.5s, box-shadow 0.5s, color 0.5s;
}

.fa .fa-check-square-o, .fa .fa-square-o {
    display: block;
    width: 25%;
    overflow: hidden;
}
