<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
    <script src="/static/js/vue.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/css/login.css">
    <body>
<div id="login-app">
    <input id="username" type="username" placeholder="username" v-model="username">
    <br>
    <input id="password" type="password" placeholder="Password"  v-model="password">
    <br>
    <button id="submit" v-on:click="login_submit()">Login</button>
    <br>
</div>
<script src="/static/js/login.js"></script>

</body>
</html>